<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837271975898-7tqeree2qlfmnrndquolfjkvpslq9hf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837271975898-7tqeree2qlfmnrndquolfjkvpslq9hf4</string>
	<key>API_KEY</key>
	<string>AIzaSyAHjQpCho10o_MP15WDP5s1kqEyXcDa-QE</string>
	<key>GCM_SENDER_ID</key>
	<string>837271975898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikustow.game</string>
	<key>PROJECT_ID</key>
	<string>game-949a6</string>
	<key>STORAGE_BUCKET</key>
	<string>game-949a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837271975898:ios:8475cf0d1c7af4913b32e3</string>
</dict>
</plist>